@import '../../../Styles/variables.scss';
@import '../../../Styles/fonts.scss';

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.social_Card_Wrap {
  max-width:500px;
  height:100vh;
  margin: 0 auto;
  display:block;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .social_Card_Wrap {
    display:grid;
    grid-template-columns:10% 90%;
    max-width:500px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .social_Card_Wrap {
    display:grid;
    grid-template-columns:10% 90%;
    max-width:700px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .social_Card_Wrap {
    display:grid;
    grid-template-columns:10% 90%;
    max-width:800px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .social_Card_Wrap {
    display:grid;
    grid-template-columns:10% 90%;
    max-width:800px;
  }
}
