@import "./variables.scss";
// Font Styles
h1, h2, h3, h4, h5, h6 {
  color:#202020;
  font-family: $headerFont;
  font-weight: 700;
  margin-top:0px;
}

h1 {
  font-size:20px;
}

h2 {
  font-size:18px;
}

h3 {
  font-size:16px;
}

h4 {
  font-size:14px;
}

h5 {
  font-size:12px;
}

h6 {
  font-size:12px;
}

p {
  color:#202020;
  font-family: $paraFont;
  font-size:12px;
  line-height:14px;
  margin-bottom:10px;
  margin-top:0px;
}

a:link, a:visited {
  color: #456A72;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #5D7FBF;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 {
    font-size:20px;
  }

  h2 {
    font-size:18px;
  }

  h3 {
    font-size:16px;
  }

  h4 {
    font-size:14px;
  }

  h5 {
    font-size:12px;
  }

  h6 {
    font-size:12px;
  }

  p {
    font-family: $paraFont;
    font-size:12px;
    line-height:12px;
    margin-bottom:10px;
    margin-top:0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size:22px;
  }

  h2 {
    font-size:20px;
  }

  h3 {
    font-size:18px;
  }

  h4 {
    font-size:16px;
  }

  h5 {
    font-size:14px;
  }

  h6 {
    font-size:14px;
  }

  p {
    font-family: $paraFont;
    font-size:14px;
    line-height:16px;
    margin-bottom:12px;
    margin-top:0px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  h1 {
    font-size:22px;
  }

  h2 {
    font-size:20px;
  }

  h3 {
    font-size:18px;
  }

  h4 {
    font-size:16px;
  }

  h5 {
    font-size:14px;
  }

  h6 {
    font-size:14px;
  }

  p {
    font-family: $paraFont;
    font-size:14px;
    line-height:16px;
    margin-bottom:12px;
    margin-top:0px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  h1 {
    font-size:24px;
  }

  h2 {
    font-size:22px;
  }

  h3 {
    font-size:20px;
  }

  h4 {
    font-size:18px;
  }

  h5 {
    font-size:16px;
  }

  h6 {
    font-size:16px;
  }

  p {
    font-family: $paraFont;
    font-size:16px;
    line-height:18px;
    margin-bottom:14px;
    margin-top:0px;
  }
}
