// Apps Global Styles
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;500;700&display=swap');

// Variables

// Fonts
$headerFont : 'Montserrat', sans-serif;
$paraFont : 'Lato', sans-serif;

// Colors
$lightGrey: #606060;

// Other
$spacing : 20px;
